html {
    /* background-color: rgb(53, 58, 58); */
    background-color: #5cdb95;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:lighter;
    font-size:x-large;
}

.container-fluid {
    /* background-color: rgb(53, 58, 58); */
    background-color: #5cdb95;
    padding-left: 2%;
    height: 90%;
}

#postArea {
    background-color: rgb(68, 77, 77);
    background-color: #379683;
    border-radius: 50px 50px 50px 50px;
    margin-right: 5%;
    /* margin-left: 2px; */
}

#postAreaTop {
    background-color: rgb(81, 97, 97);
    background-color: #36796b;
    border-radius: 50px 50px 0px 0px;
}

#formTexts {
    width: 90%;
    
    padding-left: 10%;
    font-size: large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter bold;
    text-align: center;
}

#formInputs {
    width: 90%;
    padding-left: 10%;
    text-align: center;
}

#inputForms {
    color: white;
}

#inputFormTitle {
    margin-top: 5%;
}

.formControl {
    width: 70%;
}

#formButtons {
    width: 50%;
    margin: auto;
}

#formButtons #btn-1 {
    background-color: #05386b;
    outline-color: #05386b;
    border-color: #05386b;
    width: 100%;
}

#formButtons #btn-2 {
    margin-top: 5%;
    width: 100%;
}

.form-label {
    width: 50%;
}

#cardArea {
    background-color: #36796b;
    /* margin-left: 30%; */
}

#inputFormTitle {
    color: azure;
    text-align: center;
}

#chocRow {
    padding-top: 5%;
}

#cardArea {
    text-align: center;
    background-color: #5cdb95;
}

#cardForm {
    color: white;
    background-color: #36796b;
}

.card {
    border-radius: 50px 50px 50px 50px;
    background-color: #379683;
    border-style: none;
    margin-bottom: 5px;
}

.updateBtn {
    margin-right: 5px;
}
